@use "../../styles/partials/mixins" as *;

.nav {
    max-width: 102rem;
    margin: 4rem auto;
    border-bottom: 1px solid #c9c9c9;

    &__list {
        @include flex(row, space-between, flex-end, nowrap);
        width: 50%;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: black;
        padding-bottom: 1rem;
    }

    &__link:focus {
        color: #005078;
        border-bottom: 1px solid #005078;
    }
}
