@font-face {
    font-family: "Open Sans";
    src: url("../../assets/Fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: 'regular';
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/Fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf") format("TrueType");
    font-weight: 600;
    font-style: 'semi-bold';
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/Fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf") format("TrueType");
    font-weight: 700;
    font-style: 'semi-bold';
}
