@use "../../styles//partials//variables" as *;
@use "../../styles//partials//mixins" as *;
@use "../../styles//partials//typography" as *;

.card {
  @include desktop {
    max-width: 102rem;
    margin: auto;
  }
  &__title {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__container {
    margin-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba($color: #000000, $alpha: 3%);
    background-color: white;

    &:hover {
      position: relative;
      bottom: 2rem;
    }
  }

  &__img {
    border-radius: 20px 20px 0 0;
    background-color: white;
  }

  &__details {
    padding: 2rem;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 1.6rem;
    width: 20rem;
    margin-bottom: 2rem;
  }

  a{
    text-decoration: none;
  }
  &__unlock {
    color: #005078;
    font-weight: 600;
    
  }
}
